@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap");
body {
  background-color: #170f23;

  margin: 0;
  padding: 0;
  height: 1000px;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-weight: bold;
}
.mg-rl-20px {
  margin: 0 20px;
}
.mg-bt-20px {
  margin: 20px 0;
}
