.fullview {
  transition: all 0.25s linear;
  transform: translateY(100%);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to right, #201b26, #59427c38);
  z-index: 999;
  & .turn-off_fullview {
    top: 0;
    right: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #40384e;
    border-radius: 50%;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 35px;
    position: absolute;
    transition: all 0.1s linear;
  }
  & .info-current_music {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .thumbnail-current {
      width: 400px;
      height: 400px;
      border-radius: 10px;
      overflow: hidden;
      background-color: red;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & .desc-current {
      display: flex;
      flex-direction: column;
      color: white;
      & .music_name {
        font-weight: 600;
        font-size: 30px;
      }
      & .music_author {
        text-align: center;
        font-size: 20px;
      }
    }
  }
  & .music-player {
    cursor: pointer;
    z-index: 4;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    padding: 10px;
    color: white;
    justify-content: space-between;
    & .music-info {
      justify-content: space-around;
      width: 340px;
      color: white;
      display: flex;
      align-items: center;
      & .cd {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 2px solid white;
        overflow: hidden;
        object-fit: cover;
        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      & .music-name {
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .name {
          font-size: 14px;
        }
        & .subtitle {
          font-size: 12px;
        }
      }
      .music-icon {
        display: flex;
        justify-content: space-around;
        width: 80px;
      }
    }
    & .music-playing {
      left: 50%;
      position: absolute;

      display: flex;
      justify-content: center;
      flex-direction: column;
      top: 50%;
      transform: translate(-50%, -50%);
      & .playbar-top {
        justify-content: space-around;
        display: flex;
        align-items: center;
      }

      & .playbar-bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        & .range {
          margin: 0 5px;
          width: 400px;
          height: 3px;
          &:hover {
            height: 5px;
          }
        }
      }
    }
    & .music-controler {
      display: flex;
      justify-content: center;
      align-items: center;
      & #volumn {
        height: 3px;
        width: 70px;
      }
      & .volume-icon {
        display: inherit;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .fullview {
    & .music-player {
      & .music-playing {
        & .playbar-bottom {
          & .range {
            width: 230px;
          }
        }
      }
    }

    & .info-current_music {
      width: 300px;
      & .thumbnail-current {
        width: 300px;
        height: 300px;
      }
    }
  }
}
