.music-player {
  cursor: pointer;
  z-index: 4;
  height: 90px;
  background-color: #120c1c;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 10px;
  color: white;
  justify-content: space-between;
}
.music-info {
  justify-content: space-around;
  width: 340px;
  color: white;
  display: flex;
  align-items: center;
}
.music-icon {
  display: flex;
  justify-content: space-around;
  width: 80px;
}
.cd {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
  object-fit: cover;
}
.cd img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.music-name {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.music-name .name {
  font-size: 14px;
}
.music-name .subtitle {
  font-size: 12px;
}
.music-playing {
  left: 50%;
  position: absolute;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  transform: translate(-50%, -50%);
}
.playbar-top {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.playbar-bottom {
  display: flex;
  justify-content: space-around;
}
.playbar-bottom .range {
  width: 250px;
}
.music-controler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}
@media only screen and (max-width: 768px) {
  .music-info {
    display: none;
  }
  .music-player {
    flex-direction: column;
    align-items: center;
  }
}
