.menu-bottom {
  .music-player {
    cursor: pointer;
    z-index: 4;
    height: 70px;
    background-color: #120c1c;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    padding: 10px;
    color: white;
    justify-content: space-between;
    & .music-info {
      justify-content: space-around;
      width: 340px;
      color: white;
      display: flex;
      align-items: center;
      & .cd {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 2px solid white;
        overflow: hidden;
        object-fit: cover;
        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      & .music-name {
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .name {
          font-size: 14px;
        }
        & .subtitle {
          font-size: 12px;
        }
      }
      .music-icon {
        display: flex;
        justify-content: space-around;
        width: 80px;
      }
    }
    & .music-playing {
      left: 50%;
      position: absolute;
      width: 400px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      top: 50%;
      transform: translate(-50%, -50%);
      & .playbar-top {
        justify-content: space-around;
        display: flex;
        align-items: center;
      }

      & .playbar-bottom {
        display: flex;
        align-items: center;
        justify-content: space-around;
        & .range {
          width: 250px;
          height: 3px;
          &:hover {
            height: 5px;
          }
        }
      }
    }
    & .music-controler {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;
    }
  }
}
.open-playlist {
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #7200a1;
  z-index: 5;
  bottom: 63px;
  position: fixed;
  right: 0;
  margin: 10px;
}
@media only screen and (max-width: 768px) {
  .menu-bottom {
    & .music-player {
      flex-direction: column;
      align-items: center;

      & .music-info {
        display: none;
      }
    }
  }
}
